.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    transform: translateX(-115%);
}
.open {
    background-color: darkgray;
    transform: translateX(0);
}


.sidebar.open {
    background-color: darkgray;
    transform: translateX(0);
}


.background {
opacity: 0.5%;

}

.nav {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.nav a {
    color: #212A34;
}

.nav a:hover {
    color: #00cc22;
}

.nav a.active {
    color: #CC1439;
    transform: translateX(0);
}
.close {
    display: flex;
    margin-left: auto;
    width: 20px;
    border: none; outline: none;
    background-color: white;
}

.close img {
}
