.button {
    color: #0066cc;
}

.disabled {
    color: #002E5C;
    opacity: 0.5
}

.secondary {
}

.default {
    color: #0066cc;
}

.red {
    color: #FF1A47;
}

.default:hover {
    background-color: #0066cc;
}

.red:hover {
}

.secondary:hover {
}


.default:active {
    background-color: #0066cc;
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
